.tables {
        margin-left: 0px;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}  

/* Add a black background color to the top navigation */
.topnav {
    background-color: #d2b48c;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #C0C0C0;
    color: #000000;
  }

ul{
    margin-top: 0%;
    background-color:lightblue; 
}

li{
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: grey;
}
.container {
    display: flex;
  }
.container ul{
    flex-basis: 50%;
}

.container .left{
    flex-basis: 50%;
    padding: 5%;
}
.container .center {
  flex-basis: 50%;
  padding: 10%;
  }
  .container .right{
    flex-basis: 50%;
    padding: 5%;
}
h1{
  color: white;
}
img{
  height: 350px;
  width: auto;
}

.round{
  border-radius: 50%;
  height: 150px;
  width: auto;
}

.large{
  font-size: 20px;
}